<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>Füge neue Team ein!</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <form action="new_team/addTeam" method="post">
            <div>
                <label>Teamname</label>
                <input type="text" name="teamname" placeholder="Gib eine Name für dein Team"/>
            </div>
             <div>
                <label>Spieler 1</label>
                <input type="integer" name="spieler1" placeholder="Gib ID für Spieler 1"/>
            </div>
            <div>
                <label>Spieler 2</label>
                <input type="integer" name="spieler2" placeholder="Gib ID für Spieler 2"/>
            </div>
            <button>Submit</button>
            
        </form>
    </body>
</html>
